---
---

@import "{{ site.theme }}";

// Project list on main & research page

ul.projects {
 display: grid;
 grid-template-columns: repeat(auto-fill,minmax(245px,1fr)); 
 grid-gap: 3rem; 
 margin: 2rem 0; 
 list-style-type: none;
}
div.project_outer {
 position:relative;
 border-radius: .5rem;
 overflow: hidden;
}
div.project_inner {
 position:absolute;
 top:0;
 bottom:0;
 left:0;
 right:0;
 padding:1rem;
 border-radius: .5rem;
 color:white;
 font-weight:bold;
 overflow-wrap: break-word;
 background-color: rgba(0,0,0,0.15);
}
div.project_inner:hover {
 background-color: rgba(0,0,0,0.4);
}

/*
h2 a {
color: #111;
}
*/

// Socials

.social-media-list li {
 float: left;
}
.social-media-list li + li { padding-top: 0px; }

.social-media-list .username {
 display: none;
}

.img-icon { width: 24px; height: 24px; display: inline-block; padding-right: 10px; padding-left: 3px; padding-top: 3px; vertical-align: middle; }
a:hover .img-icon { width: 30px; height: 30px; padding-right: 7px; padding-left: 0px; padding-top: 0px; }

// Remove "Posts" from news page

.post-list-heading {
 display: none;
}
