---
---

@import "{{ site.theme }}";

ul.projects {
 display: grid;
 grid-template-columns: repeat(auto-fill,minmax(245px,1fr)); 
 grid-gap: 3rem; 
 margin: 2rem 0; 
 list-style-type: none;
}
div.project_outer {
 position:relative;
}
div.project_inner {
 position:absolute;
 top:0;
 bottom:0;
 left:0;
 right:0;
 padding:1rem;
 color:white;
 font-weight:bold;
 overflow-wrap: break-word;
 background-color: rgba(0,0,0,0.15);
}
div.project_inner:hover {
 background-color: rgba(0,0,0,0.4);
}

/*
h2 a {
color: #111;
}
*/

.social-media-list li {
 float: left;
}

.social-media-list .username {
 display: none;
}


.svg-icon { width: 1.5rem; height: 1.5rem; display: inline-block; fill: #828282; padding-right: 5px; vertical-align: text-top; }
a:hover .svg-icon { width: 2rem; height: 2rem; }
 
